<!DOCTYPE html>
<html lang="en">
<%- include header %>
<body>
    <div id="navigator">
        <div class="logo">
            <a href="/panel">
                <em class="nl1"></em>
                <em class="nl2"></em>
                <em class="nl3"></em>
                <i class="material-icons">slow_motion_video</i>
            </a>
        </div>
        <div class="navigator">
            <ul>
                <li>
                    <a href="/panel/system">
                        <em class="nl1"></em>
                        <em class="nl2"></em>
                        <em class="nl3"></em>
                        <i></i>
                        <span>系统</span>
                    </a>
                </li>
                <li class="cur">
                   <a href="/panel/contents">
                        <em class="nl1"></em>
                        <em class="nl2"></em>
                        <em class="nl3"></em>
                        <i></i>
                        <span>内容</span>
                   </a>
                </li>
                <li>
                   <a href="/panel/users">
                        <em class="nl1"></em>
                        <em class="nl2"></em>
                        <em class="nl3"></em>
                        <i></i>
                        <span>用户</span>
                   </a>
                </li>
                <li>
                   <a href="/panel/styles">
                        <em class="nl1"></em>
                        <em class="nl2"></em>
                        <em class="nl3"></em>
                        <i></i>
                        <span>样式</span>
                   </a>
                </li>
                <li>
                   <a href="/panel/extensions">
                        <em class="nl1"></em>
                        <em class="nl2"></em>
                        <em class="nl3"></em>
                        <i></i>
                        <span>拓展</span>
                   </a>
                </li>
            </ul>
        </div>
    </div>
    
<% include brand %>
    
    <div class="container">
        <div class="ct">
            <div class="contents_menu">
                <div class="contents_title"><a href="/panel/contents"><i class="material-icons">insert_drive_file</i><span>选择模型</span></a></div><ul>
                    <li><a href="/panel/contents/media"><i class="material-icons">video_library</i><span>媒体库</span></a></li><li><a href="/panel/contents/model"><i class="material-icons">insert_drive_file</i><span>模型</span></a></li><li><a href="/panel/contents/categories"><i class="material-icons">menu</i><span>分类</span></a></li><li><a href="/panel/contents/comments"><i class="material-icons">comment</i><span>留言</span></a></li>
                </ul>
            </div>
            
            <div class="infomation">
                <div class="pd20">
                    新增内容 - 当前列表集 <span class="blue"><%= infomations.info.name %></span>   选择新内容的模型
                </div>
            </div>
            
            <div class="selectmodel">
            <% infomations.datas.forEach(function(d){ %>
                <div class="items<%= infomations.info.defaultmodel==d.guid ? ' selected' : '' %>" data-guid="<%= d.guid %>">
                    <h4 class="blue"><%= d.name %></h4>
                    <div class="items_a"></div>
                    <% if(d.guid!='article'){ %>
                    <div class="items_actions">
                        <ul>
                            <li><a href="/panel/contents/model/edit?guid=<%= d.guid %>"><i class="material-icons">border_color</i><span>编辑</span></a></li>
                            <li><a class="remove_model" href="#" data-del="<%= d.guid %>"><i class="material-icons">delete</i><span>删除</span></a></li>
                        </ul>
                    </div>
                    <% } %>
                </div>
            <% }); %>
            
            </div>
            <div class="new_model">
                <a class="green_btn" href="/panel/contents/model/new">新增</a>
            </div>
            <div class="new_model_next">
                <a class="blue_btn fr" href="#" data-guid="<%= infomations.info.guid %>">下一步</a>
                <div class="clear"></div>
            </div>
            
        </div>
    </div>
    
    <%- include footer %>
</body>
</html>