<!DOCTYPE html>
<html lang="en">
<%- include header %>
<body>
    <div id="navigator">
        <div class="logo">
            <a href="/panel">
                <em class="nl1"></em>
                <em class="nl2"></em>
                <em class="nl3"></em>
                <i class="material-icons">slow_motion_video</i>
            </a>
        </div>
        <div class="navigator">
            <ul>
                <li>
                    <a href="/panel/system">
                        <em class="nl1"></em>
                        <em class="nl2"></em>
                        <em class="nl3"></em>
                        <i></i>
                        <span>系统</span>
                    </a>
                </li>
                <li>
                   <a href="/panel/contents">
                        <em class="nl1"></em>
                        <em class="nl2"></em>
                        <em class="nl3"></em>
                        <i></i>
                        <span>内容</span>
                   </a>
                </li>
                <li class="cur">
                   <a href="/panel/users">
                        <em class="nl1"></em>
                        <em class="nl2"></em>
                        <em class="nl3"></em>
                        <i></i>
                        <span>用户</span>
                   </a>
                </li>
                <li>
                   <a href="/panel/styles">
                        <em class="nl1"></em>
                        <em class="nl2"></em>
                        <em class="nl3"></em>
                        <i></i>
                        <span>样式</span>
                   </a>
                </li>
                <li>
                   <a href="/panel/extensions">
                        <em class="nl1"></em>
                        <em class="nl2"></em>
                        <em class="nl3"></em>
                        <i></i>
                        <span>拓展</span>
                   </a>
                </li>
            </ul>
        </div>
    </div>
    
<% include brand %>
    
    <div class="container">
        <div class="ct">
            <div class="contents_menu">
                <div class="contents_title"><a href="/panel/users"><i class="material-icons">person</i><span>用户</span></a></div><ul>
                    <li><a href="/panel/groups"><i class="material-icons">group</i><span>用户组</span></a></li><li><a href="/panel/users/person"><i class="material-icons">assignment_ind</i><span>个人</span></a></li>
                </ul>
            </div>
            
            <div style="width:800px;">
                <div class="infomation fl">
                    <div class="pd20">
                        编辑用户资料
                    </div>
                </div>
                <div class="remove_user red_btn fr" data-username="<%= infomations.user.username %>">删除</div>
                <div class="clear"></div>
            </div>

            
            <div class="user_edit">
                <div class="groups_editor metro">
                    <dl data-key="username">
                        <dt>用户</dt><dd>
                            <div class="pd15">
                                <input class="insert" disabled="true" value="<%= infomations.user.username %>" placeholder="用户名称" type="text">
                            </div>
                        </dd>
                        <div class="clear"></div>
                    </dl>
                    <dl data-key="nickname">
                        <dt>昵称</dt><dd>
                            <div class="pd15">
                                <input class="insert" value="<%= infomations.user.nickname %>" placeholder="昵称" type="text">
                            </div>
                        </dd>
                        <div class="clear"></div>
                    </dl>
                    <dl data-key="groups">
                        <dt>用户组</dt><dd>
                            <div class="pd15">
                                <div class="menu_selected">
                                    <dl class="ct_group">
                                        <% var groupName = ''; infomations.groups.forEach(function(d){ if(d.guid == infomations.user.groups){ groupName = d.name; } }); %>
                                        <dt data-value="<%= infomations.user.groups %>"><span><%= groupName %></span><i class="material-icons">keyboard_arrow_down</i></dt>
                                        <dd>
                                            <ul>
                                        <% infomations.groups.forEach(function(d,i){
                                            if( !(infomations.groupsName!='管理员' && d.guid== 'administrator') ){
                                        %>
                                            <li data-value="<%= d.guid %>"><%= d.name %></li>
                                        <%
                                                }
                                            })
                                        %>
                                            </ul>
                                        </dd>
                                    </dl>
                                </div>
                            </div>
                        </dd>
                        <div class="clear"></div>
                    </dl>
                    <dl data-key="styles">
                        <dt>后台样式</dt><dd>
                            <div class="pd15">
                                <div class="menu_selected">
                                    <dl class="ct_group">
                                        <% var ps = ''; infomations.panelStyle.forEach(function(d){ if(d==infomations.user.styles){ ps= d; } }) %>
                                        <dt data-value="<%= ps %>"><span><%= ps %></span><i class="material-icons">keyboard_arrow_down</i></dt>
                                        <dd>
                                            <ul>
                                        <% infomations.panelStyle.forEach(function(d,i){ %>
                                            <li data-value="<%= d %>"><%= d %></li>
                                        <% }) %>
                                            </ul>
                                        </dd>
                                    </dl>
                                </div>
                            </div>
                        </dd>
                        <div class="clear"></div>
                    </dl>
                    <dl data-key="email">
                        <dt>邮箱</dt><dd>
                            <div class="pd15">
                                <div class="user_email"><span><%= infomations.user.email %></span><i class="material-icons green">border_color</i></div>
                            </div>
                        </dd>
                        <div class="clear"></div>
                    </dl>
                    <dl data-key="avatar">
                        <dt>头像</dt><dd>
                            <div class="pd15">
                                <div class="user_avatar">
                                    <img src="<%= infomations.user.avatar || '/admin/default(zh)/img/avatar.png' %>" <%= infomations.user.avatar ? 'data-src='+infomations.user.avatar : '' %> />
                                    <div class="user_avatar_mask">
                                        <i class="material-icons">file_upload</i><span>上传</span>
                                        <form action= "/panel/users/upload" method="post" enctype="multipart/form-data"><input id="uploadavatar" name="avatar" type="file" accept="image/*" /></form>
                                    </div>
                                </div>
                            </div>
                        </dd>
                        <div class="clear"></div>
                    </dl>
                   <dl data-key="password">
                        <dt>密码</dt><dd>
                            <div class="pd15">
                                <input class="insert block mb10" value="" placeholder="密码" type="password">
                                <input class="insert block" value="" placeholder="重复密码" type="password">
                            </div>
                        </dd>
                        <div class="clear"></div>
                    </dl>
                   <dl data-key="posts">
                        <dt>发表</dt><dd>
                            <div class="pd15">
                                <div class="user_posts green"><%= infomations.user.posts %></div>
                            </div>
                        </dd>
                        <div class="clear"></div>
                    </dl>
                    
                </div>
                <div class="groups_submit">
                    <a class="fr blue_btn" href="#">更改</a>
                    <div class="clear"></div>
                </div>
            </div>
            
        </div>
    </div>
    <script>
        var username = "<%= infomations.user.username %>";
    </script>
    <%- include footer %>
</body>
</html>